body{
    /* unigradients.com */
    font-family: 'Tourney', cursive, sans-serif;
    background-color: rgb(117, 193, 196);
    
    display: flex;
    flex-direction: column;
    align-items: center;

}

button{
    margin-top: 20px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: linear-gradient(to right, #009FFF, #ec2F4B);
    border: 1px solid darkred;
    cursor: pointer
}